{% extends "layout.html" %}
{% block content %}
    {% include "sidemenu.html" %}
    <link rel="stylesheet" href="/build/landing_style.css">
    <link rel="stylesheet" href="/build/filterable_table.css">
    <div id="instrument_selection">
        <div id="instrument_selection_label">
            Your Instrument:
        </div>
        <div id="_instrument_selection">
            <select id="instrument" placeholder="Choose an instrument">
                {% for instrument_key, instrument_value in selectable_instruments %}
                    {% if instrument_key == instrument %}
                        <option value="{{ instrument_key }}" selected>{{instrument_value}}</option>
                    {% else %}
                        <option value="{{ instrument_key }}">{{instrument_value}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <script type="text/javascript" src="/build/instrument_change.js"></script>
    <div id="header">
        <header>
            <h1 id="_header">ReadMi{% if is_premium %}<sup id="gold_sub">Gold</sup>{% endif %}</h1>
        </header>
    </div>
    <div class="sidenav">
        <table id="headerTable">
            <div class="songFilter">
                <input class="filter"  type="text" placeholder="Search for a song or artist..">
            </div>
            <!--
            <div class="songFilter">
                <select id="keyFilterSelect" placeholder="Key Signature">
                    <option value="">Key Signature...</option>
                    {% for k in key_signatures %}
                        <option>{{ k }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="songFilter">
                <select id="timeFilterSelect" placeholder="Time Signature">
                    <option value="">Time Signature...</option>
                    {% for t in time_signatures %}
                        <option>{{ t }}</option>
                    {% endfor %}
                </select>
            </div>
            -->
        </table>
        <script type="text/javascript" src="/build/filter_table.js"></script>
        <table id="songsTable">
            <tbody>
            {% for s in enabled_songs %}
                <tr data-value="{{s.id}}">
                    <td class="songName">
                        <span class="songTitle">{{ s.name }}</span><br>
                        <span class="songArtist">{{ s.artist }}</span><br>
                        <span class="songLevel">Level&nbsp;{{ s.level }}</span>
                    </td>
                    <td class="songKey">{{ s.key_signature }}</td>
                    <td class="songTime">
                        <span class="songTiming">{{ s.beats_per_measure }}/{{ s.beat_value }}</span><br>
                        <span class="songLength">{{ s.beat_count }} beats long</span><br>
                    </td>
                </tr>
            {% endfor %}
            {% for s in disabled_songs %}
                <tr class="songDisabled">
                    <td class="tooltiptext">Requires Gold Membership</td>
                    <td class="songName">
                        <span class="songTitle">{{ s.name }}</span><br>
                        <span class="songArtist">{{ s.artist }}</span><br>
                        <span class="songLevel">Level&nbsp;{{ s.level }}</span>
                    </td>
                    <td class="songKey">{{ s.key_signature }}</td>
                    <td class="songTime">
                        <span class="songTiming">{{ s.beats_per_measure }}/{{ s.beat_value }}</span><br>
                        <span class="songLength">{{ s.beat_count }} beats long</span><br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="/build/add_row_handlers.js"></script>
    </div>
{% endblock %}
