{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="/build/sidebar.css">
<link rel="stylesheet" href="/build/dialogbox.css">
<div id="dialogbox">
	<div id="dialogboxhead">Song Options</div>
	<div id="dialogboxbody">
		<input id="bpm" name="weight" type="range" min="10" max="150" step="1" />
		<label id="bpm_label"></label>

		<select id="step_offset">
			<option value="12">Guitar</option>
			<option value="-12">Piccolo</option>
			<option value="2">Clarinet</option>
			<option value="14">Bass Clarinet</option>
			<option value="2">Soprano Saxophone</option>
			<option value="9">Alto Saxophone</option>
			<option value="14">Tenor Saxophone</option>
			<option value="21">Baritone Saxophone</option>
			<option value="7">French Horn</option>
			<option value="2">Trumpet</option>
			<option value="-12">Xylophone</option>
			<option value="-24">Glockenspiel</option>
		</select>
	</div>
	<div id="dialogboxfoot">
		<button id="start_song">Start!</button> <button id="cancel_song">Cancel</button>
	</div>
</div>
<div class="sidenav">
	<h1> Options </h1>
	<label><input id="metronome-enabled" type="checkbox"/ checked> Metronome</label>
	<label><input id="autoscroll-enabled" type="checkbox"/ checked> Autoscroll</label>
	<label><input id="playalong-enabled" type="checkbox"/> Play Along</label>
</div>
<div id="header"></div>
<div id="boo"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/build/note_player.js"></script>
<script type="text/javascript" src="/build/metronome.js"></script>
<script type="text/javascript" src="/build/bar_computer.js"></script>
<script type="text/javascript" src="/build/key_comparison.js"></script>
<script type="text/javascript" src="/build/key_signature.js"></script>
<script type="text/javascript" src="/build/note_detection.js"></script>
<script type="text/javascript" src="/build/score_renderer.js"></script>
<script type="text/javascript" src="/build/audio_stream_controller.js"></script>
<script type="text/javascript">
		var name = '{{s.name}}';
		var beatValue = {{s.beat_value}};
		var beatsPerMeasure = {{ s.beats_per_measure }};
		var keySignature = '{{s.key_signature}}';
		var bars = {{bars|raw}};
</script>
<script type="text/javascript" src="/build/test.js"></script>
{% endblock %}
