{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="/build/songs.css">
    <link rel="stylesheet" href="/build/filterable_table.css">
    <h1 id="header">ReadMi</h1>
    <table id="headerTable">
        <thead>
        <tr>
            <th id="songsFilter">
                <input class="filter" type="text" placeholder="Search for a song..">
            </th>
            <th id="keyFilter">
                <select id="keyFilterSelect" placeholder="Key Signature">
                    <option value="">Key Signature...</option>
                    {% for k in key_signatures %}
                        <option>{{ k }}</option>
                    {% endfor %}
                </select>
            </th>
            <th id="timeFilter">
                <select id="timeFilterSelect" placeholder="Time Signature">
                    <option value="">Time Signature...</option>
                    {% for t in time_signatures %}
                        <option>{{ t }}</option>
                    {% endfor %}
                </select>
            </th>
        </tr>
        </thead>
    </table>
    <table id="songsTable">
        <tbody>
        {% for s in songs %}
            <tr>
                <td class="songName">{{ s.name }}</td>
                <td class="songKey">{{ s.key_signature }}</td>
                <td class="songTime">{{ s.time_signature }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/build/filter_table.js"></script>
{% endblock %}
